body{
    background-color: burlywood;
}

 
.team-title{
    background-color: black;
    color: red
}

.manager-title{
    background-color: black;
    color: red
}

.engineer-title{
    background-color: black;
    color: red
}

.intern-title{
    background-color: black;
    color: red
}